* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, rgb(180, 227, 241), rgb(75, 197, 235));
  overflow-x: hidden;
}

.container {
  width: 31.25em;
  height: 31.25em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  width: 40.75em;
  height: 20.75em;
  background: #fff;
  position: absolute;
  top: calc(50% + 3.1em);
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 3.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5em;
}

form label {
  font-weight: 600;
  color: #2e0d30;
  margin-bottom: 0.2em;
}

form input {
  font-size: 0.95em;
  padding: 0.3em;
  color: #3f3554;
  border: none;
  border-bottom: 0.12em solid #3f3554;
  outline: none;
}

form input:not(:last-child) {
  margin-bottom: 0.9em;
}

form button {
  width: 150px;
  height: 40px;
  background: rgb(50, 49, 114);
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 0.8em;
  font-weight: 600;
}

.panda-face {
  height: 7.5em;
  width: 8.4em;
  background: #fff;
  border: 0.18em solid #2e0d30;
  border-radius: 7.5em 7.5em 5.62em 5.62em;
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  margin: auto;
}

/* --- Orelhas --- */
.ear-l, .ear-r {
  background: #3f3554;
  height: 2.5em;
  width: 2.81em;
  border: 0.18em solid #2e0d30;
  border-radius: 2.5em 2.5em 0 0;
  position: absolute;
  top: 1.75em;
}

.ear-l { transform: rotate(-38deg); left: 10.75em; }
.ear-r { transform: rotate(38deg); right: 10.75em; }

/* --- Blush --- */
.blush-l, .blush-r {
  background: #ff8bb1;
  height: 1em;
  width: 1.37em;
  border-radius: 50%;
  position: absolute;
  top: 4em;
}

.blush-l { left: 1em; transform: rotate(25deg); }
.blush-r { right: 1em; transform: rotate(-25deg); }

/* --- Olhos --- */
.eye-l, .eye-r {
  background: #3f3554;
  height: 2.18em;
  width: 2em;
  border-radius: 2em;
  position: absolute;
  top: 2.18em;
}

.eye-l { left: 1.37em; transform: rotate(-20deg); }
.eye-r { right: 1.37em; transform: rotate(20deg); }

.eyeball-l, .eyeball-r {
  height: 0.6em;
  width: 0.6em;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0.6em;
  left: 0.6em;
  transition: 1s;
}

.eyeball-l { transform: rotate(20deg); }
.eyeball-r { transform: rotate(-20deg); }

/* --- Nariz e Boca --- */
.nose {
  height: 1em;
  width: 1em;
  background: #3f3554;
  position: absolute;
  top: 4.37em;
  left: 0; right: 0;
  margin: auto;
  border-radius: 1.2em 0 0 0.25em;
  transform: rotate(45deg);
}

.nose::before {
  content: "";
  background: #3f3554;
  height: 0.6em;
  width: 0.1em;
  position: absolute;
  top: 0.75em;
  left: 1em;
  transform: rotate(-45deg);
}

.mouth, .mouth::before {
  height: 0.75em;
  width: 0.93em;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0.18em #3f3554;
}

.mouth {
  top: 5.31em;
  left: 3.12em;
}

.mouth::before {
  content: "";
  left: 0.87em;
}

/* --- Mãos --- */
.hand-l, .hand-r {
  background: #3f3554;
  height: 2.81em;
  width: 2.5em;
  border: 0.18em solid #2e0d30;
  border-radius: 0.6em 0.6em 2.18em 2.18em;
  position: absolute;
  top: 8.4em;
  transition: 1s;
}

.hand-l { left: 7.5em; }
.hand-r { right: 7.5em; }

/* --- Patas --- */
.paw-l, .paw-r {
  background: #3f3554;
  height: 3.12em;
  width: 3.12em;
  border: 0.18em solid #2e0d30;
  border-radius: 2.5em 2.5em 1.2em 1.2em;
  position: absolute;
  top: 26.56em;
}

.paw-l { left: 10em; }
.paw-r { right: 10em; }

.paw-l::before, .paw-r::before {
  content: "";
  height: 1.37em;
  width: 1.75em;
  background: #fff;
  border-radius: 1.56em 1.56em 0.6em 0.6em;
  position: absolute;
  top: 1.12em;
  left: 0.55em;
}

.paw-l::after, .paw-r::after {
  content: "";
  height: 0.5em;
  width: 0.5em;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0.31em;
  left: 1.12em;
  box-shadow: 
    0.87em 0.37em #fff,
    -0.87em 0.37em #fff;
}
    .paw-l:after,
  .paw-r:after {
    position: absolute;
    content: "";
    background-color: #ffffff;
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    top: 0.31em;
    left: 1.12em;
    box-shadow: 0.87em 0.37em #ffffff, -0.87em 0.37em #ffffff;
  }
  @media screen and (max-width: 500px) {
    .container {
      font-size: 14px;
    }
  }

.container1 {
  width: 100%;
  height: 100px;
  background: linear-gradient(to right, rgb(180, 227, 241), rgb(75, 197, 235));
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .container {
    transform: translate(-50%, -50%) scale(0.75);
  }

  form {
    width: 90%;
    height: auto;
    padding: 1.5em;
  }

  form button {
    width: 100%;
  }
}