*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background: linear-gradient(to right, rgb(180, 227, 241), rgb(75, 197, 235));
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header{
    color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content:space-around;

    & button{
        background-color: rgb(255, 255, 255);
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        color: rgb(0, 0, 0);
    }
    & button:hover{
        background-color: black;
        color: white;
    }
   
}
main{
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    color: white;
}

.card{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--c1);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--t2);
    gap: 10px;
    color: white;

    & img {
        max-width: 250px;
    }
}
    & div{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

input{
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px var(--t2);
        font-weight: bold;
}

#enviarPedido{
    background-color: white;
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 9vw;
    height: 9vh;
    color: black;
}
#enviarPedido:hover{
    background-color: black;
    color:white;
}

#totalCarrinho{
    background-color:var(--t2);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    border-radius: 10px;
}

#removerProduto{
    background-color: white;
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 8vw;
    height: 5vh;
    color: black;
}
#removerProduto:hover{
        background-color: black;
        color:white;
}